* {
  background-color: rgb(0, 0, 0);
}

.addTask {
  text-align: center;
}

.inputBox {
  min-width: 250px;
  min-height: 40px;
  text-wrap: nowrap;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgb(80, 80, 80);
  margin-bottom: 10px;
}

.inputBox::placeholder {
  font-size: 16px;
  padding-left: 3px;
  color: silver;
}

.addButton {
  border: none;
  border-radius: 7px;
  background-color: rgb(0, 128, 53);
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
  flex-wrap: wrap;
}

.listItem {
  color: rgb(206, 202, 202);
  font-size: 18px;
  margin-bottom: 10px;
  display: inline-block;
}

.completo {
  text-decoration: line-through;
}

.completeBtn {
  border: none;
  border-radius: 19px;
  background-color: rgb(0, 128, 53);
  color: white;
  padding: 7px 12px;
  font-size: 12px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.deleteBtn {
  border: none;
  border-radius: 19px;
  background-color: red;
  color: white;
  padding: 7px 12px;
  font-size: 12px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.starred {
  height: 30px;
  position: relative;
  top: 8px;
  margin-right: 5px;
}